html, body {
    font-family: 'Manrope', sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
}
.button {

}
.logo {
}
/*----------------------------------------------------*/
.header {
}
.header__top {
    margin-bottom: 96px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;

}
.header__logo {
}

.header__nav {
    margin-left: auto;
    margin-right: 64px;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:first-child {
    margin-left: 15px;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__nav-link {
    font-weight: 600;
    line-height: 28px;
    color: #1E1B1B;
}
.header__assist {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__assist::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 7px;
    width: 1px;
    height: 42px;
    opacity: 0.36;
    border: 1px solid #939191;
}
.header_assist-call {
    margin-right: 14px;
}
.header_phone {

}
.header__phone-name {
    font-weight: 500;
    line-height: 24px;
    color: #1E1B1B;
    opacity: 0.7;
}
.header-phone-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1E1B1B;
}
.header__body {
}