html, body {
    font-family: 'Manrope', sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
}
.button {
    display: inline-flex;
    white-space: nowrap;;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    align-items: flex-start;
    padding: 16px 40px;
    border-radius: 12px;
    background: var(--primary, #FF6433);
    transition: all .3s;
}
.button:hover {
    transform: scale(1.1);
}
.logo {
}
/*----------------------------------------------------*/
.header {
}
.header__top {
    padding-bottom: 96px;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;

}
.header__logo {
    transition: all .3s;
}
.header__logo:hover {
    transform: scale(1.1);
}

.header__nav {
    margin-left: auto;
    margin-right: 64px;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:first-child {
    margin-left: 15px;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__nav-link {
    font-weight: 600;
    line-height: 28px;
    color: #1E1B1B;
    white-space: nowrap;
    transition: all .3s;
}
.header__nav-link:hover {
    text-shadow: rgb(0, 0, 0, 0.25)  0px 4px 4px, rgb(0, 0, 0, 0.25)  0px 4px 4px;
}
.header__assist {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__assist::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 7px;
    width: 1px;
    height: 42px;
    opacity: 0.36;
    border: 1px solid #939191;
}
.header_assist-call {
    margin-right: 14px;
    transition: all .3s;
}
.header_assist-call:hover {
    transform: scale(1.1);
}
.header_phone: {
}
.header__phone-name {
    font-weight: 500;
    line-height: 24px;
    color: #1E1B1B;
    opacity: 0.7;
    white-space: nowrap;
    transition: all .3s;
}
.header__phone-name:hover {
    text-shadow: rgb(0, 0, 0, 0.25)  0px 4px 4px, rgb(0, 0, 0, 0.25)  0px 4px 4px;
}

.header-phone-number {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    color: #1E1B1B;
    white-space: nowrap;
    transition: all .3s;
}
.header-phone-number:hover {
    text-shadow: rgb(0, 0, 0, 0.25)  0px 4px 4px, rgb(0, 0, 0, 0.25)  0px 4px 4px;
}
.header__body-inner{
    display: flex;
    padding-bottom: 135px;
}
.header__body {
}
.header__content {

}
.header_slogan {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
    padding: 0 51px 32px 0;                                                                                          
}
.header__btn-box {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.header__play {
    padding-left: 49px;
    display: flex;
    align-items: center;
}

.header__button {
}
.header__play-icon {
    transition: all .3s;
}
.header__play-icon:hover {
    transform: scale(1.1);
}
.header__play-text {
    padding-left: 8px;
    transition: all .3s;
    white-space: nowrap;;
}
.header__play-text:hover {
    text-shadow: rgb(0, 0, 0, 0.25)  0px 4px 4px, rgb(0, 0, 0, 0.25)  0px 4px 4px;
}

.header__schedule {
    padding-top: 48px;
    display: flex;
    align-items: center;
}
.header__schedule-icon {
    padding-right: 13px;
}
.header__schedule-info {
    
}
.header__schedule-text {
    color: var(--grey, #939191);
    font-weight: 500;
    line-height: 24px;
}
.header__schedule-time {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
}
